@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
  padding: 22.5px;
  width: 100%;
  position: fixed;
  background-color: red;
  z-index: 11111;
}

.center {
    text-align: center !important;
}

nav .logo{
  color: #fff;
  display: flex;
  float: left;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  align-items: center;
  display: flex;
}
nav .nav-items li{
  list-style: none;
  padding: 6px 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  padding: 15px 10px;
  text-decoration: none;
}
nav .nav-items li a:hover{
    border-bottom: 5px solid rgb(148,0,0);

    background: rgb(148,0,0);
    background: linear-gradient(0deg, rgba(222,3,3,1) 0%, rgba(34,193,195,0) 43%);
    color: white;
}

.btn-secondary{
  font-weight: 900;
}

nav .nav-items .signin a{
  color: red;
  font-size: 15px;
  padding: 0px 0px;
  text-decoration: none;
  font-weight: 900;
}

nav .nav-items .signin a:hover{
  border-bottom: none;
  background: none;
  color: blue;
}

nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: red;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}

section{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/background1.jpg);
  top: 100px;
  left: 0%;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.navigation{
  background: rgb(56,56,56);
  background: linear-gradient(0deg, rgba(56,56,56,1) 0%, rgba(255,0,0,1) 65%);
  padding-top: 100px;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.nav-sign li{
  list-style: none;
}

.nav-sign button{
  color: white; 
  font-size: 15px;
  font-weight: 900;
  background-color: transparent;
  border: transparent;
}

.nav-sign button:hover{
  background-color: transparent;
  border: transparent;
}

.nav-sign li a{
  color: red;
  font-size: 15px;
  text-decoration: none;
  padding: 30px 20px;
}

.nav-sign li a:hover{
  color: red;
}

@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    text-align: center;
  }
  .nav-sign{
    display: none;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: red;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: red;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: red;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

.nav-sign{
  padding: 0 0 0 20px;
}

.form-label-left{
    width:150px;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px;
}
body, html{
    margin:0;
    padding:0;
}

.form-all{
    margin:0px auto;
    padding-top:0px;
    width:690px;
    color:#555 !important;
    font-family:'Coda';
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
    color: #FC0505;
}

.form-all {
  font-family: "Verdana", sans-serif;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-family: "Verdana", sans-serif;
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-family: "Verdana", sans-serif;
}
.form-header-group {
  font-family: "Verdana", sans-serif;
}
.form-label {
  font-family: "Verdana", sans-serif;
}

.form-label.form-label-auto {
  
display: inline-block;
text-align: left;

}

.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-all {
  max-width: 650px;
  width: 100%;
}

.form-label.form-label-left,
.form-label.form-label-right,
.form-label.form-label-left.form-label-auto,
.form-label.form-label-right.form-label-auto {
  width: 120px;
}

.form-all {
  font-size: 12pxpx
}
.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-size: 12pxpx
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-size: 12pxpx
}

.supernova .form-all, .form-all {
  background-color: rgb(153, 153, 153);
}

.form-all {
  color: black;
}
.form-header-group .form-header {
  color: black;
}
.form-header-group .form-subHeader {
  color: white;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
  color: black;
}
.form-sub-label {
  color: 1a1a25;
  font-size: 15x !important;
}

.supernova {
  background-color: undefined;
}
.supernova body {
  background: transparent;
}

.form-textbox,
.form-textarea,
.form-dropdown,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: undefined;
}

.supernova {
  background-image: none;
}
#stage {
  background-image: none;
}

  .form-all {
    background-image: url("//www.jotform.com/images/brushed.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center top;
  }

.ie-8 .form-all:before { display: none; }
.ie-8 {
margin-top: auto;
margin-top: initial;
}